{% extends 'base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content%}
<header class="intro-header" style="background-image: url('/static/img/puzzle-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Oops...</h1>
                    <hr class="small">
                    <span class="subheading">The page is not found :(</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>404 Page Not Found </h2>
            <p>What you were looking for is just not there.</p>
            <p>Click <a href="/">here</a> to go back to home.</p>
        </div>
    </div>
</div>
{% endblock %}
