{% extends "base.html" %}
{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                Hello. My name is Alex, just a regular Android SDE working in the Bay Area.
            </p>
            <p>
                  During my free time, you will mostly find me sleeping and eating. 
            </p>
            <p>
                You can reach me with the following email:   ww2lin [at] uwaterloo [dot] ca
            </p>
        </div>
    </div>
</div>
{% endblock%}