{% extends "base.html" %}
{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog Spot</h1>
                    <hr class="small">
                    <span class="subheading">A spot for blogs :)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for user, blog in tuples %}
            <div class="post-preview">
                <a href="blog/{{blog.id}}">
                    <h2 class="post-title">
                        {{ blog.title }}
                    </h2>
                    {% if blog.header is not none %}
                    <h3 class="post-subtitle">
                        {{ blog.header }}
                    </h3>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by <a href="/about/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a> on {{blog.created}}</p>
            </div>
            <hr>
            {% endfor %}


            <!-- Pager -->

            <ul class="pager">
                {% if hasOlderBlog %}
                <li class="previous">
                    {% set previousUrl = '/?offset=' ~ (offset+limit) ~ '&limit=' ~ limit %}
                    <a href={{ previousUrl }}>&larr; Older Posts </a>
                </li>
                {% endif %}
                {% if hasNewerBlog %}
                <li class="next">
                    {% set nextUrl = '/?offset=' ~ (offset-limit) ~ '&limit=' ~ limit %}
                    <a href={{ nextUrl }}>Next Posts &rarr;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}

<!--auto scroll-->
{% block script%}
<script src="/static/jscroll/jquery.jscroll.min.js"></script>
{% endblock %}