{% extends "base.html" %}
{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>New blog eh...?</h1>
                    <h2 class="subheading">//Have fun</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form name="submitblog" action="/submitblog" method="POST">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Title</label>
                        <input name="title" type="text" class="form-control" placeholder="Title" required data-validation-required-message="Please enter a title">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>header</label>
                        <input name="header" type="text" class="form-control" placeholder="header">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Content</label>
                        <textarea name="content" rows="8" class="form-control" placeholder="Content" required data-validation-required-message="Please enter a blog content!"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Submit Blog!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}